.topbar {
  background-color: #ffcc00;
  color: #000;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.topbar h1 {
      margin-top: 10px;
      font-size: 24px;
      color: #ffffff;
      background-color: #0a9875;
      display: inline-block;
      padding: 8px 20px;
      border-radius: 6px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(210, 21, 21, 0.749);
    padding: 0 0;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
    display: block;
}.MainNavBar{
    list-style-type: none;
    display:flex;
    gap: 25px;
}
.Course{
    color: blue;
    background-color:lawngreen;
}
.Placement{
    height: 100vh;
    width: 100vw;
}
.Internship{
    height: 100vh;
    width: 100vw;

}
.content{
    display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;           
  font-size: 2rem; 
}
.colouser1 {
  background-color: #0910cd; 
  color: white; 
  padding: 100px;
  text-align: center;
 
}
.colouser1 h2{
    background-color: rgb(238, 18, 18);
    text-decoration: none;
    color:white;
  text-align: center;  
  display: inline-block; 
  padding: 8px 20px;
}
  .ul {
    display: flex;
    justify-content: space-between; /* Places items left, center, right */
    padding: 20px;
  }
.ul .list h3{

  background-color: rgb(173, 72, 158);
  text-decoration: none;
  color:#0910cd;
  text-align: center;  
  display: inline-block; 
  padding: 30px 20px;
}
.ul .angular h3{

  background-color: rgb(173, 72, 158);
  text-decoration: none;
  color:#0910cd;
  text-align: center;  
  display: inline-block; 
  padding: 30px 20px;
}
.ul .reactJs h3{

  background-color: rgb(173, 72, 158);
  text-decoration: none;
  color:#0910cd;
  text-align: ;  
  display: inline-block; 
  padding: 30px 20px;
}

